html {
  background-color: #f6efe2;
}

* {
  font-family: "Montserrat", sans-serif;
}

.skip a{
  background: white;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;
}

.skip a:focus{
  position: absolute;
  top: 10px;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #f6efe2;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
a.active {
  text-decoration: underline;
  text-transform: uppercase;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#mylinks{
  display: flex;
  flex-direction: column;
}

/* insert homepage image */
.responsive {
  width: 100%;
  height: auto;
/*  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;*/
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */

.home-text{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.4);
}

.centered1 {
  font-size: 30px;
  text-transform: uppercase;
}

.centered2 {
  padding: 10px;
  font-size: 20px;
}

.centered3 {

  font-size: 16px;
  text-transform: uppercase;
}

/* parallax image on about page*/
.about {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px; 
    background-image: url('../images/about.JPG');
  }


/* h1 text styling */
h1 {
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  color: #000000;
}

/* h2 text styling */

h2 {
  margin-bottom: 10px;
  padding: 20px; 
}

/* h3 text styling */

h3 {
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

/*animation */
#animated {
  color: black;
  animation-name: animation;
  animation-duration: 10s;
}

@keyframes animation {
  from {color:black;}
  to {color:green;}
}

/* turning animation and parallax off */
@media (prefers-reduced-motion) {
  #animated {
    animation: none;
    color: black;
  }

    /* turn off parallax image on about page*/
  .about {
      background-attachment: scroll;
    }
}

/* p text styling */
p {
  padding: 20px 40px 20px 40px;
  line-height: 1.5em;
}

/* list text styling */
li {
  padding: 40px;
  line-height: 1em;
}

/*blog page */

/* Create two unequal columns that floats next to each other */
/* Left column */
.grid-container {
  display: grid;
  width: 75%;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

/* blog post image */
.blog-img {
  width: 100%;
  padding-top: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.card a{
  text-align: center;
  text-decoration: underline;
  color: #000000;
}

/*photography page */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  opacity: 0.5;
  box-shadow: 1px 1px 3px 3px #ccc;
  border-radius: 8px;
}

.column img:hover {
  opacity: 1.0;
}

/* @media screen and (max-width: 600px) {
  .topnav a:not(:first-child)
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media all and (min-width: 481px) {

  .home-text {
    top: 30%;
  }

  #mylinks{
    flex-direction: row;
    justify-content: center;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media all and (min-width: 850px) {
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .home-text {
    top: 40%;
  }

  #mylinks{
    justify-content: left;
    align-items: center;
  }
}


/* Contact page */

/* Style inputs with type="text", select elements and textareas */
label {
  color: #000000;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #000000;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* footer */

footer{
  width:100%;
  text-align: center;
  color: #000000;
  min-height: 30px;
/*  position: fixed;*/
  left: 0;
  bottom: 0;
/*  padding: 4px;*/
  background-color: #f6efe2;

}

footer p{
  padding-bottom: 15px;
}